<!--The content below is only a placeholder and can be replaced.-->
<nav *ngIf="mostrarMenu marginBottom">
  <div class="nav-wrapper red darken-2">
    <a href="#" class="brand-logo center hide-on-med-and-down">
      <img class="imgLogo" src="{{ image }}">
    </a>
    <ul class="left">
      <li routerLinkActive="active"><a routerLink="">Home</a></li>
      <li routerLinkActive="active" 
        routerLinkActiveOptions="{exact: true}"><a routerLink="/usuarios">Lista Usuarios</a></li>
      <li routerLinkActive="active"><a routerLink="/usuarios/timeline">Timeline</a></li>
    </ul>
    <ul class="right">
      <li><a class="mousePointer" (click)="fazerLogout()">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container marginTop">
  <router-outlet></router-outlet>
</div>
