<h5>Timeline dos Usuarios</h5>
<br>
<div class="row" [hidden]="!usuarios">
	<div class="input-field col s12 m6 l6">
	    <select materialize="material_select" [ngModel]="usuarioSelecionado" 
	    	(ngModelChange)="onChange($event)" name="user"
	    	[materializeSelectOptions]="usuarios">
	      <option value="" disabled selected>Selecione</option>
	      <option *ngFor="let u of usuarios" [ngValue]="u">{{ u.nome }}</option>
	    </select>
	    <label>Selecione o Usuário</label>
	</div>
	<div class="col s12 m6 l6">
		<p>Nome: {{usuario?.nome}}</p>
		<p>Email: {{ usuario?.email }}</p>
		<p>Telefone: {{ usuario?.telefone }}</p>
	</div>
</div>
<div class="col s12" id="visualization"></div>
